$grey-dark: #3B3B3F;
$grey-light: #E8E7EA;
$grey-text: #38383A;
$blue: #42AFCD;

$purple: #682ae9;
$light: #dbdbdb;
$header-link: #dbdbdb;
$header-link-hover: #682ae9;
$header-link-hover-icon: #dbdbdb;
$header-link-active: #555;
$std-color: #dbdbdb;
$bg: #0e1212;
$bg-rgb: 14, 18, 18;
$bg-light: radial-gradient(var(--bg), transparent, var(--purple) 130%);
$gray: #808080;
$comment: #555;
